@{
    ViewData["Title"] = "Home Page";
}
@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService


<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Best restaurants and reviews</a>.</p>
</div>


<div class="card-group">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Users</h5>
            <p class="card-text"> @ViewData["UserCount"]</p>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Restaurants</h5>
            <p class="card-text"> @ViewData["RestaurantCount"]</p>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Reviews</h5>
            <p class="card-text"> @ViewData["ReviewCount"]</p>
        </div>
    </div>

</div>